*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 0.75em;
    box-sizing: border-box;
}
#header-nav-ul{
    font-size: 1.2em;
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
}
#puntitos{
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#imagen-profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
li{
    margin: 15px 10px;
    color: black;
}
header li a{
    color: black;
    text-decoration: none;
}
header li a:hover{
    text-decoration: underline;
}
#puntitos:hover{
    border-radius: 50%;
    background-color: #f2f2f2
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main-image-google{
    width: 272px;
    height: 92 px;
    margin: 0;
    padding: 0;
}
input{
    width: 100%;
    box-sizing: border-box;
    height: 6.5vh;
    border-radius: 20px;
    outline: none;
    border: solid 1px  #d2d9e0;
    margin: 0;
    padding: 0;
}
input:hover{       
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}
#footer-country{
    box-sizing: border-box;   
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dadce0;
    padding: 15px 30px;
    color: #70757a;
    height: 7.2vh;
    width: 100vw;
}
#footer-menu{
    width: 100vw;
    box-sizing: border-box; 
    background-color: #f2f2f2;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0;
    height: 7.3vh;
}
#footer-menu-left,#footer-menu-right{
    display: flex;
    list-style-type: none;
}
footer ul li{
    color: #70757a;
}
#id-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    box-sizing: border-box;
}
main button:hover{
    border:rgba(32,33,36,.28) 1px solid;
}
main button{
    background-color: #f8f9fa;
    width: 154px;
    height: 34px;
    margin: 15px 4px;
    padding: 0 16px;
    border: 1px solid #f8f9fa;
    font-family: arial,sans-serif;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    color: #3c4043;
}
#footer{
    box-sizing: border-box;
    width: 100vw;
    font-size: 1.17em;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    position: fixed;
    margin-bottom: 0%;
    padding-bottom: 0%;
}
footer ul li a{
    color: #70757a;
    text-decoration: none;
}
footer ul li a:hover{
    text-decoration: underline;
}
#main-input{
    display: flex;
    justify-content: center;
    align-items: center;
}
.goxjub{
    position: absolute;
    bottom: 75%;
    left: 2%;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    width: 20px;
    height: 20px;
}  
form{
    position: relative;
    box-sizing: border-box;
}
.main-input-lupita{
    position: absolute;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    bottom: 75%;
    right: 3%;
}